		<footer class="main">
			<div class="left">
				© Copyright 2014 - <a href="/"><%= config.name %></a>
				<% if (config.beian) { %>
					- <%= config.beian %>
				<% } %>
				-
				<script type="text/javascript">
					var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
					document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6640fb68033e47caf13d7b851ca6aed2' type='text/javascript'%3E%3C/script%3E"));
				</script>
			</div>
			<div class="right">
				<span><a href="/signin">Signin</a></span>
				<span>|</span>
				<span><a href="http://developer.baidu.com/" target="_blank">Powered by bae & node.js</a></span>
			</div>
			<div class="clearfix"></div>
		</footer>


	</body>

</html>