<!doctype html>
<html>

	<head>
		<% if (locals.pageTitle == 'index-aa-blog') { %>
			<title><%= blogTitle %> | <%= blogSlogan %></title>
		<% } else { %>
			<title><%= pageTitle %> | <%= blogTitle %></title>
		<% } %>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="HandheldFriendly" content="true">

		<%- Loader('/assets/aa-blog.js', '/assets/aa-blog.css')
			.js('/js/jquery.min.js')
			.js('/js/bootstrap.min.js')
			.css('/css/bootstrap.min.css')
			.css('/css/bootstrap-theme.min.css')
			.css('/css/global.css')
			.done(assetsMap)
		%>

	</head>

	<body>

		<header class="main">
			<div class="left">
				<div class="title"><a href="/"><%= blogTitle %></a></div>
				<div class="slogan"><%= blogSlogan %></div>
			</div>
			<div class="right">
				<% if (!!locals.weibo) { %>
					<div class="item"><a href="<%= weibo %>" target="_blank"><img src="/image/social/weibo.png"></a></div>
				<% } %>
				<% if (!!locals.renren) { %>
					<div class="item"><a href="<%= renren %>" target="_blank"><img src="/image/social/renren.png"></a></div>
				<% } %>
				<% if (!!locals.twitter) { %>
					<div class="item"><a href="<%= twitter %>" target="_blank"><img src="/image/social/twitter.png"></a></div>
				<% } %>
				<% if (!!locals.facebook) { %>
					<div class="item"><a href="<%= facebook %>" target="_blank"><img src="/image/social/facebook.png"></a></div>
				<% } %>
				<% if (!!locals.mail) { %>
					<div class="item"><a href="mailto:<%= mail %>"><img src="/image/social/mail.png"></a></div>
				<% } %>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</header>
