<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="HandheldFriendly" content="true">
		<meta http-equiv="Content-Language" content="zh-CN" />
		<% if (pageTitle == 'index-aa-blog') { %>
			<title><%= config.name %> | <%= config.slogan %></title>
		<% } else { %>
			<title><%= pageTitle %> | <%= config.name %></title>
		<% } %>

		<% if (pageTitle == 'index-aa-blog' || pageTitle == 'signin' || pageTitle == 'save') { %>
			<meta name="keywords" content="博客,js,nodejs,程序,创业,产品">
			<meta name="description" content="<%= config.name %>,<%= config.slogan %>">
		<% } else { %>
			<meta name="keywords" content="<%= pageTitle %>,博客,js,nodejs,程序,创业,产品">
			<meta name="description" content="<%= post.abstract.replace(/\n/g, '') %>">
		<% } %>

		<%- Loader('/assets/aa-blog.js', '/assets/aa-blog.css')
			.js('/js/jquery.min.js')
			.js('/js/bootstrap.min.js')
			.css('/css/bootstrap.min.css')
			.css('/css/bootstrap-theme.min.css')
			.css('/css/global.css')
			.done(assetsMap)
		%>

	</head>

	<body>

		<header class="main">
			<div class="left">
				<div class="title"><a href="/"><%= config.name %></a></div>
				<div class="slogan"><%= config.slogan %></div>
			</div>
			<div class="right">
				<% if (config.weibo) { %>
					<div class="item"><a href="<%= config.weibo %>" target="_blank"><img src="/image/social/weibo.png"></a></div>
				<% } %>
				<% if (config.renren) { %>
					<div class="item"><a href="<%= config.renren %>" target="_blank"><img src="/image/social/renren.png"></a></div>
				<% } %>
				<% if (config.twitter) { %>
					<div class="item"><a href="<%= config.twitter %>" target="_blank"><img src="/image/social/twitter.png"></a></div>
				<% } %>
				<% if (config.facebook) { %>
					<div class="item"><a href="<%= config.facebook %>" target="_blank"><img src="/image/social/facebook.png"></a></div>
				<% } %>
				<% if (config.github) { %>
					<div class="item"><a href="<%= config.github %>" target="_blank"><img src="/image/social/github2.png"></a></div>
				<% } %>
				<% if (config.mail) { %>
					<div class="item"><a href="mailto:<%= config.mail %>"><img src="/image/social/mail.png"></a></div>
				<% } %>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</header>
