<% include header.html %>

<div class="save">
<form action="/create-do" method="post">
	<input name="id" value="<%= post.id %>" class="hidden">

	<div class="main left">
		<div class="item title">Create a new article</div>
		<div class="item">
			<input name="title" type="text" class="form-control" placeholder="title" value="<%= post.title %>">
		</div>
		<div class="item editor">
			<textarea id="editor" class="editor" name="content"><%= post.content %></textarea>
		</div>
		<div class="item preview"></div>
	</div>

	<div class="right">
		<div class="main item">
			<div class="content">
				<input type="submit" class="form-control btn btn-primary" value="save">
			</div>
		</div>
		<div class="main item">
			<div class="content">
				<input name="alias" class="form-control" placeholder="alias" value="<%= post.alias %>">
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</form>
</div>

<script type="text/javascript">
	$().ready(function() {
		var saveWidth = parseInt($('.save').css('width'));
		var leftWidth = parseInt($('.save .left').css('width'));
		$('.save .right').css('width', saveWidth - leftWidth - 30);
		$('.save textarea').keyup();
	});

	$('.save textarea').keyup(function() {

	});
</script>

<%- Loader('/assets/editor.js', '/assets/editor.css')
	.js('/js/codemirror/codemirror.js')
	.js('/js/codemirror/xml.js')
	.js('/js/codemirror/javascript.js')
	.js('/js/codemirror/css.js')
	.js('/js/codemirror/vbscript.js')
	.js('/js/codemirror/htmlmixed.js')
	.css('/css/codemirror.css')
	.done(assetsMap)
%>

<script type="text/javascript">
	var mixedMode = {
		name: "htmlmixed",
			scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
				mode: null},
				{matches: /(text|application)\/(x-)?vb(a|script)/i,
				mode: "vbscript"}]
		};
		var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
			lineNumbers: true,
			lineWrapping: true,
			mode: mixedMode
		});

		var change = function() {
			var val = editor.getValue();
			if (val.length == 0)
				$('.save .preview').html('preview area');
			else
				$('.save .preview').html(val);
		}
		editor.on("change", function() {
			change();
  	});
  	change();
</script>

<% include footer.html %>
